

.rating input{
    display: none;
}

.rating{
    margin: 1rem;
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse; /*show the star system in reverse direction*/
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5%;
    padding: 0.2rem;
    margin: auto;
   
}

.rating label{
    display: block;
    cursor: pointer;
    width: 2rem; /*maybe change later*/
    margin-right: 0.3rem;
    

}

.rating label:before{
    content: '\f005'; /*this is the star*/
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 2rem;
    color:rgb(229, 236, 236);
    margin: auto;
}

.rating label:after{
    content: '\f005'; /*this is the star*/
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 2rem;
    color:rgb(238, 212, 64);
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    margin:auto;
}

/*when I hover and when I click on the star after-object should change opacity*/
.rating label:hover:after, 
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
    opacity: 1;
}

button{
    width: 2.5rem;
    background-color: white;
    border: none;
    margin-left: 1rem;
    Opacity: 0.8;
}

button:hover{
    opacity: 1;
    border: 1px solid grey;
    border-radius: 5%;
}


@media only screen and (max-width: 950px) {
    .rating{
        height: fit-content;
    }
   .rating label{
        width: 1rem;
   }

    .rating label:before{
        font-size: 1rem;
    }

    .rating label:after{
        font-size: 1rem;
    }

    button{
        width: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 500px) {

    .rating{
        height: fit-content;
    }
   .rating label{
        width: 1.5rem;
   }

    .rating label:before{
        font-size: 1.5rem;
    }

    .rating label:after{
        font-size: 1.5rem;
    }

    button{
        width: 2rem;
    }
  
}
