a{
    color: #FFFFFF;
}

  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  body{
    background-color: #FEF5ED;
  }

  div.galleryA {
    border: 1px solid #ccc;
    width: 100%;
  }
  
  div.galleryA:hover {
    border: 1px solid #777;
  }
  
  div.galleryA img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .albumContainer {
    padding: 0 6px;
    float: left;
    width: 20rem;
    height: fit-content;
  }
  .gridWrap{
    display: grid;
    grid-gap: .1rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,1fr);
    overflow: hidden;
    height: fit-content;
  }

  #backButton{
    display: none;
  }

  /*this is maybe not necessary */
  @media screen and (max-width: 1500px){
    .gridWrap{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
  }
  }

  @media screen and (max-width: 1200px){
    .gridWrap{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
  }
  }

  @media only screen and (max-width: 900px) {
    .gridWrap{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
  }
  }
  
  @media only screen and (max-width: 700px) {
    .albumContainer {
      width: 20rem;
      margin: 6px 0;
    }
    .gridWrap{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,1fr);
  }
 
}
  
  @media only screen and (max-width: 500px) {
    .gridWrap{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(5,1fr);
    }
    .albumContainer {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
