a{
    color: #FFFFFF;
}


  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  body{
    background-color: #FEF5ED;
  }

* {box-sizing:border-box}

.startSlide {
    display: none;
    border: 2px solid #2196F3;
    background-color: white;
    color: #2196F3;
    padding: 14px 28px;
    font-size: 16px;
    float: right;
    cursor: pointer;
    width: 10rem;
  }

  .modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0,5);

}

.modal-content{
background-color: #fefefe;
margin: auto;
border: 1px solid #888;
width: 80%;
height: 90%;
overflow: hidden;
}

#slideImg{
    width: 100%;
    height: 100%;
}

.close{
    top: 5%;
    left: 80%;
    position: fixed;
    float: right;
    color: #aaa;
    float: top;
    font-size: 2rem;
    font-weight: bold;
    width: 5%;
    z-index: 3;
}

.close:hover, .close:focus{
    color: lightgrey;
    text-decoration: none;
    cursor: pointer;
}

.slideshow-container{
width: 100%;
height: 100%;
max-width: 62.5rem;
position: relative;
margin: auto;
}

.mySlides{
    display: none;
    width: 100%;
    height: 100%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -1.375rem;
    padding: 1rem;
    color: white;
    font-weight: bold;  
    font-size: 1.125rem;
    transition: 0,6s ease;
    border-radius: 0 0.188rem 0.188rem 0;
    user-select: none;
}

.next{
right: 0;
border-radius: 0.188rem 0 0 0.188rem;
}

.prev:hover, .next:hover{
background-color: #2196F3;
}

.text{
    color: #f2f2f2;
    font-size: 0.938rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

.numbertext{
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 0;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1,5s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}